*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 50%), url(a.jpg);
    background-position: center;
    background-size:cover;
    height: 100vh;
} 
.btn{
    width: 187px;
    height: 51px;
    font-size: 24px;
   font-weight: 900;
   transform: translate(335%,353%);
    align-self: center;
    background:rgb(0, 0, 0);
    font-family: Arial;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 2px solid rgb(255, 0, 0);
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn:hover{
    background-color:rgb(105, 139, 168);
}
p{
    color: white;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
strong{
    color: red;
    font-size: 50px;
   
}