*{
    margin: 0;
    padding: 0;
}
form{
    height: 5px;
    width: 600px;

    position:absolute;
    transform: translate(-100%,-410%);
    top: 80%;
    left: 70%;
    border-radius: 10px;
    background-color: transparent;
    border: 5px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(6, 0, 1, 0.6);
    padding: 75px 55px;
} 
p{
    display:block;
    margin-top: 13px;
    font-size: 23px;
    color: greenyellow;
    font-weight: 500;
    float:none;
}
body{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 50%), url(a.jpg);
    background-position: center;
    background-size:cover;
    height: 100vh;
} 

.logn{
   width: 12%;
    background-color:rgb(234, 250, 10);
    color: red;
    padding: 0px ;
    border: 4px;
    border-color: greenyellow;
    font-size: 18px;
    font-weight: 600;
    border-radius: 51px;
    cursor: pointer;
}
.logn a{
    text-decoration: none;
}
.in{
    color: white;
    width: 130px;
    height: 20px;
    border: 4px;
    border-radius: 17px;
    border-color: rgb(0, 0, 0);
    background-color: black;
}
::placeholder{
    margin-left: 15px;
    color: white;
}
.donars{
    width: fit-content;
    top: 110px;
    padding: 166px 100px;
}
.donars table tr th{
    padding: 50px;
}

#donars {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse:separate;
    border-color:black ;
    box-shadow: inset;
    width: 100%;
  }
  
  #donars td, #donors th {
    border: 1px solid black;
    padding: 8px;
  }
  
  #donars tr{background-color:rgb(154, 216, 238);}
  
  #donars th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:rgb(1, 10, 13);
    color:rgb(136, 253, 11);
  }
  .close a{
    text-decoration: none;
    padding: 0px 6px;
    color:yellow;
   font-size: larger;
   border: 2px solid white;
   float:right;
   padding:0px 6px;
}